<!doctype html>
<html>

<head>
    <title>pubmedKB API</title>
</head>

<body>

<div style="font-size: 16px; font-family: Helvetica, sans-serif; line-height: 1.5;">
    pubmedKB API:&nbsp;&nbsp;<a href="home">home</a><br />
    <a href="name_to_id_alias">Name-to-ID-Alias</a>&nbsp;&nbsp;<a href="id_to_name">ID-to-Name</a><br />
    <a href="var">VAR</a>&nbsp;&nbsp;<a href="rs_hgvs_gene">RS-HGVS-GENE-Mapping</a><br />
    <a href="rel">REL</a>&nbsp;&nbsp;<a href="paper">PAPER</a><br />
    <a href="pmid_glof">PMID-to-GLOF</a>&nbsp;&nbsp;<a href="ent_glof">ENT-to-GLOF</a><br />
    <a href="varsum">VarSum</a>&nbsp;&nbsp;<a href="litsum">LitSum</a><br />
    <a href="gvd_stats">GVD_Stats</a>&nbsp;&nbsp;<a href="gd_db">GD_DB</a><br />
</div>

</body>

</html>
